.photo-profile {
  width: 120px;
  height: 120px;

  padding: 10px;

  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: green;

  object-fit: cover;
  object-fit: top;
}
.footer-bg {
  background-color: black;
}
